body {background-color: dimgray;}

h1 {
color: white;
font-family: 'Source Sans Pro', sans-serif;
text-align: center;
font-size: 100px;
}

span {
color: white;
text-align: center;
font-size: 100px;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden; 
   background-color:dimgray;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 50px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkgrey;
}

button {
    float: none;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    margin-left: 440px;
    margin-top: 40px;
 


}
    